<?xml version="1.0"?>
<model>
  <name>volcano_local</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Jenn Nguyen</name>
  </author>

  <description>
    Mount St. Helens
    Origin coordinates: 46.16594, -122.19742
    Grid dimensions: width 128, height 128
  </description>
</model>
