[submodule "submodules/mkdocks_include_uri"]
	path = submodules/mkdocks_include_uri
	url = https://github.com/robobe/mkdocs_include_uri.git
[submodule "submodules/mkdocs_my_helper"]
	path = submodules/mkdocs_my_helper
	url = https://github.com/robobe/mkdocs_my_helper.git
