.md-sidebar--primary {
    display: none;  /* Hides the left sidebar */
}

.md-content {
    max-width: 100%; /* Makes content full width */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 20px;
    text-align: center;
    padding: 20px;
}

.grid-item {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: rgb(184, 224, 206);
  color: #1a1717;
  text-align: center;
  padding: 5px 8px;
  border-radius: 6px;

  /* Position */
  position: absolute;
  z-index: 1;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  transition: opacity 0.3s;
}

/* Show tooltip on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
